:root {
  /* Colors — Primary */
  --color-primary: #100a0d;
  --color-secondary: #fdfbf9;
  --color-accent: #fdfbf9;

  /* Colors — Neutrals */
  --color-neutral-50: #000000;
  --color-neutral-100: #77716e;
  --color-neutral-200: #383d41;
  --color-neutral-300: #333333;
  --color-neutral-400: #e5e5e5;
  --color-neutral-500: #242121;

  /* Colors — Backgrounds */
  --color-bg: #fdfbf9;
  --color-bg-1: #ffffff;
  --color-bg-2: #242121;

  /* Colors — Text */
  --color-text: #000000;
  --color-text-1: #100a0d;
  --color-text-2: #ffffff;
  --color-text-3: #77716e;
  --color-text-4: #fdfbf9;

  /* Typography — Families */
  --font-sans: "BrownStd", sans-serif;
  --font-body: "EBGaramond", sans-serif;
  --font-body: "Arial", sans-serif;
  --font-body: "Times", sans-serif;
  --font-body: "GaramondPremrPro", sans-serif;
  --font-body: "swym-font", sans-serif;
  --font-body: "GTStandard-M", sans-serif;

  /* Typography — Scale */
  --font-size-32: 32px;
  --font-size-24: 24px;
  --font-size-20: 20px;
  --font-size-18: 18px;
  --font-size-16: 16px;
  --font-size-15: 15px;
  --font-size-14: 14px;
  --font-size-13.3333: 13.3333px;
  --font-size-13: 13px;
  --font-size-12: 12px;
  --font-size-11: 11px;
  --font-size-10: 10px;

  /* Spacing */
  --spacing-1: 1px;
  --spacing-20: 20px;
  --spacing-24: 24px;
  --spacing-30: 30px;
  --spacing-32: 32px;
  --spacing-34: 34px;
  --spacing-36: 36px;
  --spacing-40: 40px;
  --spacing-45: 45px;
  --spacing-47: 47px;
  --spacing-50: 50px;
  --spacing-80: 80px;
  --spacing-120: 120px;

  /* Border Radius */
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-full: 50px;
  --radius-full: 100px;

  /* Box Shadows */
  --shadow-xs:
    rgba(0, 0, 0, 0.13) 1px 0px 0px 0px inset, rgba(0, 0, 0, 0.13) -1px 0px 0px 0px inset,
    rgba(0, 0, 0, 0.17) 0px -1px 0px 0px inset, rgba(204, 204, 204, 0.5) 0px 1px 0px 0px inset,
    rgba(26, 26, 26, 0.24) 0px 12px 20px -8px;
  --shadow-xs: rgba(0, 0, 0, 0.2) 1px 1px 1px 1px;
  --shadow-sm: rgba(0, 0, 0, 0.2) 0px 2px 6px 0px;
  --shadow-md: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
  --shadow-lg: rgba(0, 0, 0, 0.2) 0px 0px 25px 0px;
  --shadow-xl: rgba(0, 0, 0, 0.2) 0px 26px 80px 0px;

  /* Original Site Variables */
  /* — colors — */
  --swiper-theme-color: #000;
  --media-border-opacity: 0.05;
  --media-border-width: 1px;
  --product-card-image-padding: 0rem;
  --product-card-corner-radius: 0rem;
  --product-card-text-alignment: left;
  --product-card-border-width: 0rem;
  --product-card-border-opacity: 0.1;
  --product-card-shadow-opacity: 0;
  --product-card-shadow-visible: 0;
  --product-card-shadow-horizontal-offset: 0rem;
  --product-card-shadow-vertical-offset: 0.4rem;
  --product-card-shadow-blur-radius: 0.5rem;
  --collection-card-image-padding: 0rem;
  --collection-card-corner-radius: 0rem;
  --collection-card-text-alignment: left;
  --collection-card-border-width: 0rem;
  --collection-card-border-opacity: 0.1;
  --collection-card-shadow-opacity: 0;
  --collection-card-shadow-visible: 0;
  --collection-card-shadow-horizontal-offset: 0rem;
  --collection-card-shadow-vertical-offset: 0.4rem;
  --collection-card-shadow-blur-radius: 0.5rem;
  --blog-card-image-padding: 0rem;
  --blog-card-corner-radius: 0rem;
  --blog-card-text-alignment: left;
  --blog-card-border-width: 0rem;
  --blog-card-border-opacity: 0.1;
  --blog-card-shadow-opacity: 0;
  --blog-card-shadow-visible: 0;
  --blog-card-shadow-horizontal-offset: 0rem;
  --blog-card-shadow-vertical-offset: 0.4rem;
  --blog-card-shadow-blur-radius: 0.5rem;
  --popup-border-width: 1px;
  --popup-border-opacity: 0.1;
  --drawer-border-width: 1px;
  --drawer-border-opacity: 0.1;
  --text-boxes-border-opacity: 0.1;
  --text-boxes-border-width: 0px;
  --buttons-border-width: 1px;
  --buttons-border-opacity: 1;
  --buttons-border-offset: 0px;
  --inputs-border-width: 1px;
  --inputs-border-opacity: 0.55;
  --variant-pills-border-width: 1px;
  --variant-pills-border-opacity: 0.55;
  --alpha-button-border: 1;
  --alpha-badge-border: 0.1;
  --color-primary-black: #100a0d;
  --color-primary-white: #fdfbf9;
  --color-secondary-dark-grey-100: #242121;
  --color-secondary-dark-grey-200: #3e3b3b;
  --color-secondary-dark-grey-300: #77716e;
  --color-secondary-light-grey-100: #f4f0ed;
  --color-secondary-light-grey-200: #dad5d0;
  --color-secondary-light-grey-300: #afa9a9;
  --color-error: #d51f1f;
  --color-note: #509b4b;
  --overlay-bg: url(./overlay.png);
  --swym-remind-cta-bg-color: #00a65a;
  --swym-remind-cta-text-color: white;
  --swym-remind-cta-bg-color-v2: #000000;
  --swym-remind-cta-text-color-v2: white;
  --swym-subscribe-success-bg-color: #aee9d1;
  --swym-subscribe-success-text-color: #202223;
  --swym-storefront-layout-carousel-button-icon-color: #171722;
  --swym-storefront-layout-button-color-text-primary: #fff;
  --swym-storefront-layout-input-color-text: #171722;
  --swym-storefront-layout-notification-warning-text-color: #856404;
  --swym-storefront-layout-color-text-sub2: #999ea8;
  --swym-storefront-layout-color-text-sub: #b1b7c3;
  --swym-storefront-layout-carousel-item-border-color: #b1b7c3;
  --swym-storefront-layout-color-text: #1c1c1c;
  --swym-storefront-layout-color-text-error: #ea0202;
  --swym-storefront-layout-border-color: #b1b7c3;
  --swym-storefront-layout-color-text-remove: #ea0202;
  --swym-storefront-layout-button-color-text-secondary: #121f36;
  --swym-storefront-layout-color-bg: #fff;
  --swym-storefront-layout-notification-warning-border-color: #ffeeba;
  --swym-storefront-layout-close-button-icon-color: #333333;
  --swym-storefront-layout-notification-error-border-color: #f5c6cb;
  --swym-storefront-layout-carousel-image-border-color: #17172205;
  --swym-storefront-layout-input-color-bg: #fff;
  --swym-storefront-layout-color-text-default: #1c1c1c;
  --swym-storefront-layout-notification-info-text-color: #ffffff;
  --swym-storefront-layout-notification-info-border-color: #bee5eb;
  --swym-storefront-layout-notification-success-text-color: #155724;
  --swym-storefront-layout-notification-neutral-text-color: #383d41;
  --swym-storefront-layout-notification-toast-bg-color: #333333;
  --swym-storefront-layout-ui-text-color: #000;
  --swym-storefront-layout-notification-warning-bg-color: #fff3cd;
  --swym-storefront-layout-notification-toast-text-color: #ffffff;
  --swym-storefront-layout-notification-error-bg-color: #f8d7da;
  --swym-storefront-layout-carousel-button-bg-color: #ffffff;
  --swym-storefront-layout-notification-error-text-color: #721c24;
  --swym-storefront-layout-notification-neutral-bg-color: #ffffff;
  --swym-storefront-layout-ui-border-radius: 10px;
  --swym-storefront-layout-carousel-image-bg-color: #0000000d;
  --swym-storefront-layout-button-color-bg-secondary: #e6f7f4;
  --swym-storefront-layout-color-border: #b1b7c3;
  --swym-storefront-layout-close-button-bg-color: #fff;
  --swym-storefront-layout-ui-bg-color: #fff;
  --swym-storefront-layout-notification-neutral-border-color: #d6d8db;
  --swym-storefront-layout-notification-success-bg-color: #d4edda;
  --swym-storefront-layout-button-border-radius: 19px;
  --swym-storefront-layout-notification-success-border-color: #c3e6cb;
  --swym-storefront-layout-notification-info-bg-color: #121f36;
  --swym-storefront-layout-button-color-bg-primary: #000;
  --swym-storefront-layout-notification-toast-border-color: #434343;
  --swym-p-border-radius-100: 4px;
  --swym-p-border-radius-050: 2px;
  /* — spacing — */
  --swiper-navigation-size: 13px;
  --media-padding: px;
  --page-width-margin: 0rem;
  --spacing-sections-desktop: 0px;
  --spacing-sections-mobile: 0px;
  --grid-desktop-vertical-spacing: 8px;
  --grid-desktop-horizontal-spacing: 8px;
  --grid-mobile-vertical-spacing: 4px;
  --grid-mobile-horizontal-spacing: 4px;
  --inputs-margin-offset: 0px;
  --space-xxs: 4px;
  --space-xs: 8px;
  --space-sm: 16px;
  --space-md: 24px;
  --space-lg: 40px;
  --space-xl: 80px;
  --space-xxl: 120px;
  --space-xxxl: 160px;
  --col-gap: 2px;
  --swym-p-space-400: 16px;
  --swym-p-space-800: 32px;
  --swym-storefront-layout-font-size-text: 13px;
  --swym-storefront-layout-font-size-heading: 14px;
  --swym-storefront-layout-font-size-sub-text: 12px;
  --swym-p-space-100: 4px;
  --swym-p-space-500: 20px;
  --swym-storefront-layout-font-size-header: 20px;
  --swym-storefront-layout-font-size-login-heading: 16px;
  --swym-p-space-300: 12px;
  --swym-p-space-200: 8px;
  --swym-p-space-600: 24px;
  --swym-p-space-150: 6px;
  /* — typography — */
  --font-body-family: "BrownStd", sans-serif;
  --font-body-style: normal;
  --font-body-weight: 400;
  --font-body-weight-bold: 700;
  --font-heading-family: "GaramondPremrPro", serif;
  --font-heading-style: normal;
  --font-heading-weight: 400;
  --font-body-scale: 1;
  --font-heading-scale: 1;
  --text-boxes-radius: 0px;
  --text-boxes-shadow-opacity: 0;
  --text-boxes-shadow-visible: 0;
  --text-boxes-shadow-horizontal-offset: 0px;
  --text-boxes-shadow-vertical-offset: 4px;
  --text-boxes-shadow-blur-radius: 5px;
  --font-sans: "BrownStd", sans-serif;
  --font-serif: "GaramondPremrPro", serif;
  /* — shadows — */
  --media-shadow-opacity: 0;
  --media-shadow-horizontal-offset: 0px;
  --media-shadow-vertical-offset: 4px;
  --media-shadow-blur-radius: 5px;
  --media-shadow-visible: 0;
  --popup-shadow-opacity: 0.05;
  --popup-shadow-horizontal-offset: 0px;
  --popup-shadow-vertical-offset: 4px;
  --popup-shadow-blur-radius: 5px;
  --drawer-shadow-opacity: 0;
  --drawer-shadow-horizontal-offset: 0px;
  --drawer-shadow-vertical-offset: 4px;
  --drawer-shadow-blur-radius: 5px;
  --buttons-shadow-opacity: 0;
  --buttons-shadow-visible: 0;
  --buttons-shadow-horizontal-offset: 0px;
  --buttons-shadow-vertical-offset: 4px;
  --buttons-shadow-blur-radius: 5px;
  --inputs-shadow-opacity: 0;
  --inputs-shadow-horizontal-offset: 0px;
  --inputs-shadow-vertical-offset: 4px;
  --inputs-shadow-blur-radius: 5px;
  --variant-pills-shadow-opacity: 0;
  --variant-pills-shadow-horizontal-offset: 0px;
  --variant-pills-shadow-vertical-offset: 4px;
  --variant-pills-shadow-blur-radius: 5px;
  --focused-base-box-shadow:
    0 0 0 0.3rem rgb(var(--color-background)), 0 0 0.5rem 0.4rem rgba(var(--color-foreground), 0.3);
  /* — radii — */
  --media-radius: 0px;
  --badge-corner-radius: 4rem;
  --popup-corner-radius: 0px;
  --buttons-radius: 0px;
  --buttons-radius-outset: 0px;
  --inputs-radius: 0px;
  --inputs-radius-outset: 0px;
  --variant-pills-radius: 40px;
  /* — other — */
  --page-width: 160rem;
  --alpha-button-background: 1;
  --alpha-link: 0.85;
  --focused-base-outline: 0.2rem solid rgba(var(--color-foreground), 0.5);
  --focused-base-outline-offset: 0.3rem;
  --duration-short: 100ms;
  --duration-default: 200ms;
  --duration-announcement-bar: 250ms;
  --duration-medium: 300ms;
  --duration-long: 500ms;
  --duration-extra-long: 600ms;
  --duration-extra-longer: 750ms;
  --duration-extended: 3s;
  --ease-out-slow: cubic-bezier(0, 0, 0.3, 1);
  --animation-slide-in: slideIn var(--duration-extra-long) var(--ease-out-slow) forwards;
  --animation-fade-in: fadeIn var(--duration-extra-long) var(--ease-out-slow);
  --gutter-container: 10px;
  --grain-opacity: 0.12;
  --grain-scale: 140;
  --grain-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='200' height='200'><filter id='n'><feTurbulence type='fractalNoise' baseFrequency='0.8' numOctaves='3' seed='2' stitchTiles='stitch'/><feColorMatrix type='saturate' values='0'/></filter><rect width='100%' height='100%' filter='url(%23n)'/></svg>");
  --swym-recently-viewed-pointer-pos: 92%;
  --sparkle: url("./sparkle.gif");
  --swym-storefront-layout-side-drawer-width: 300px;
  --easter-egg: none;
  /* — dependencies — */
  --focused-base-outline: --color-foreground;
  --focused-base-box-shadow: --color-background, --color-foreground;
  --animation-slide-in: --duration-extra-long, --ease-out-slow;
  --animation-fade-in: --duration-extra-long, --ease-out-slow;
  /* — semantic — */
  success: [object Object];
  warning: [object Object];
  error: [object Object];
  info: [object Object];
}
