:root {
  /* Colors — Primary */
  --color-primary: #253525;
  --color-secondary: #fbe122;
  --color-accent: #253525;

  /* Colors — Neutrals */
  --color-neutral-50: #000000;
  --color-neutral-100: #ffffff;
  --color-neutral-200: #767676;
  --color-neutral-300: #efefef;

  /* Colors — Text */
  --color-text: #000000;
  --color-text-1: #ffffff;

  /* Typography — Families */
  --font-body: "DiatypePre-Regular", sans-serif;
  --font-body: "DiatypePre-Bold", sans-serif;
  --font-body: "Times", sans-serif;
  --font-body: "DiatypePre-Light", sans-serif;
  --font-body: "Arial", sans-serif;
  --font-body: "GTStandard-M", sans-serif;

  /* Typography — Scale */
  --font-size-16: 16px;
  --font-size-13.3333: 13.3333px;
  --font-size-12: 12px;

  /* Spacing */
  --spacing-1: 1px;
  --spacing-30: 30px;
  --spacing-37: 37px;
  --spacing-48: 48px;
  --spacing-234: 234px;
  --spacing-384: 384px;
  --spacing-466: 466px;

  /* Original Site Variables */
  /* — colors — */
  --swiper-theme-color: #007aff;
  --color-accent: ;
  --color-body-text: ;
  --color-main-background: ;
  --color-border: ;
  /* — typography — */
  --font-heading: ;
  --font-body: ;
  --font-body-weight: ;
  --font-body-style: ;
  --font-body-bold-weight: bold;
  /* — semantic — */
  success: [object Object];
  warning: [object Object];
  error: [object Object];
  info: [object Object];
}
