:root {
  /* Colors — Primary */

  /* Colors — Neutrals */
  --color-neutral-50: #333333;
  --color-neutral-100: #000000;
  --color-neutral-200: #f4f4f4;
  --color-neutral-300: #888888;
  --color-neutral-400: #979797;
  --color-neutral-500: #ffffff;
  --color-neutral-600: #777777;
  --color-neutral-700: #cccccc;

  /* Colors — Backgrounds */
  --color-bg: #ffffff;
  --color-bg-1: #f4f4f4;

  /* Colors — Text */
  --color-text: #000000;
  --color-text-1: #333333;
  --color-text-2: #888888;

  /* Typography — Families */
  --font-sans: "JHA Times Now", sans-serif;
  --font-heading: "Favorit SSENSE Inter", sans-serif;
  --font-body: "sans-serif", sans-serif;
  --font-font-3: "Favorit SSENSE Inter1", sans-serif;

  /* Typography — Scale */
  --font-size-71.25: 71.25px;
  --font-size-40: 40px;
  --font-size-28.5: 28.5px;
  --font-size-20: 20px;
  --font-size-19: 19px;
  --font-size-16: 16px;
  --font-size-13: 13px;
  --font-size-12.35: 12.35px;
  --font-size-11: 11px;
  --font-size-0: 0px;

  /* Spacing */
  --spacing-2: 2px;
  --spacing-30: 30px;
  --spacing-40: 40px;
  --spacing-50: 50px;
  --spacing-55: 55px;
  --spacing-60: 60px;
  --spacing-68: 68px;
  --spacing-98: 98px;
  --spacing-109: 109px;
  --spacing-133: 133px;
  --spacing-234: 234px;
  --spacing-290: 290px;
  --spacing-397: 397px;
  --spacing-498: 498px;

  /* Border Radius */
  --radius-sm: 3px;
  --radius-md: 10px;

  /* Box Shadows */
  --shadow-sm: rgb(0, 0, 0) 0px 0px 0px 1px inset;

  /* Original Site Variables */
  /* — semantic — */
  success: [object Object];
  warning: [object Object];
  error: [object Object];
  info: [object Object];
}
